body {
    font-family: 'Roboto', sans-serif;
    color: #666363;
    text-align: center;
	background: linear-gradient(to right, black , white); /* Standard syntax */
}


h3 {
	font-family: 'Roboto Mono', monospace;
    font-size: 14px;

}
